    /*
    Flaticon icon font: Flaticon
    Creation date: 19/08/2020 05:33
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-profits:before { content: "\f100"; }
.flaticon-bank:before { content: "\f101"; }
.flaticon-group:before { content: "\f102"; }
.flaticon-collaboration:before { content: "\f103"; }
.flaticon-artificial-intelligence:before { content: "\f104"; }
.flaticon-portfolio:before { content: "\f105"; }
.flaticon-trial:before { content: "\f106"; }
.flaticon-job-search:before { content: "\f107"; }
.flaticon-magnifying-glass:before { content: "\f108"; }
.flaticon-account:before { content: "\f109"; }
.flaticon-piggy-bank:before { content: "\f10a"; }
    
    $font-Flaticon-profits: "\f100";
    $font-Flaticon-bank: "\f101";
    $font-Flaticon-group: "\f102";
    $font-Flaticon-collaboration: "\f103";
    $font-Flaticon-artificial-intelligence: "\f104";
    $font-Flaticon-portfolio: "\f105";
    $font-Flaticon-trial: "\f106";
    $font-Flaticon-job-search: "\f107";
    $font-Flaticon-magnifying-glass: "\f108";
    $font-Flaticon-account: "\f109";
    $font-Flaticon-piggy-bank: "\f10a";