.dashboard{
    padding: 40px;
    overflow: hidden;
    .sidebar{
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        border-radius: 3px;
        margin-bottom: 20px;
        width: 250px;
        float: left;
        .menu{
            > li{
                list-style: none;
                line-height: 30px;
                border-bottom: 1px solid $border-color;
                a{
                    display: block;
                    color: $text-color;
                    text-decoration: none;
                    padding: 10px 15px;
                    svg{
                        display: inline-block;
                        margin-right: 5px;
                    }
                    .right-icon{
                        float: right;
                        font-size: 10px;
                        margin-top: 10px;
                        @include transition(.35s);
                        display: none;
                    }
                }
                .submenu{
                    padding-left: 20px;
                    margin-bottom: 10px;
                    // display: none;
                    li{
                        list-style: none;
                        position: relative;
                        &::before{
                            content: "";
                            left: 0px;
                            top: 22px;
                            bottom: -20px;
                            position: absolute;
                            display: block;
                            width: 1px;
                            border-left: 1px dashed rgba(12, 12, 12, 0.3);
                            z-index: 1;
                        }
                        &::after{
                            content: "";
                            height: 1px;
                            width: 16px;
                            border-bottom: 1px dashed rgba(12, 12, 12, 0.3);;
                            position: absolute;
                            left: 0;
                            top: 20px;
                        }
                        &:first-child::before{
                            top: 0;
                        }
                        &:last-child::before{
                            display: none;
                        }
                        a{
                            padding: 5px 20px;
                        }
                    }
                }
                &.active {
                    .right-icon{
                        @include transform(rotate(90deg));
                    }
                    .submenu{
                        display: block;
                    }
                }
            }
        }
    }
    .dashboard-content{
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        border-radius: 3px;
        padding: 30px;
        width: calc(100% - 280px);
        float: right;
    }
    .file-upload{
        max-width: 400px;
        margin: auto;
        text-align: center;
        .file-upload-button{
            border: 3px dashed $green;
            padding: 30px;
            position: relative;
            margin-bottom: 10px;
            h2{
                font-size: 20px;
                text-transform: uppercase;
                margin-bottom: 0px;
            }
            input{
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                opacity: 0;
            }
        }
    }
    .edit-resume{
        .resume-top-menu-two{
            margin-bottom: 20px;
            border-radius: 4px;
            overflow: hidden;
            li{
                list-style: none;
                display: inline-block;
                width: 20%;
                text-align: center;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    height: 4px;
                    width: 100%;
                    bottom: 34px;
                    left: 0;
                    background-color: #616161;
                }
                a{
                    display: inline-block;
                    text-decoration: none;
                }
                .icon{
                    display: inline-block;
                    height: 44px;
                    width: 44px;
                    border-radius: 5px;
                    background-color: #616161;
                    color: #ffffff;
                    padding: 10px;
                    position: relative;
                    margin-bottom: 40px;
                    font-size: 18px;
                    line-height: 26px;
                    &::before{
                        content: "";
                        height: 10px;
                        width: 10px;
                        background: #616161;
                        position: absolute;
                        bottom: -5px;
                        left: 42%;
                        transform: rotate(45deg);
                    }
                    &::after{
                        content: "";
                        height: 18px;
                        width: 18px;
                        background: #616161;
                        border-radius: 100%;
                        position: absolute;
                        bottom: -35px;
                        left: 32%;
                        border: 3px solid #ffffff;
                    }
                }
                span{
                    display: block;
                    color: $text-color;
                }
                &.active{
                    &::before{
                        background-color: $green;
                    }
                     .icon{
                        background-color: $green;
                        &::before, &::after{
                            background-color: $green;
                        }
                    }
                }
            }
        }
        .resume-top-menu{
            margin-bottom: 20px;
            border-radius: 4px;
            overflow: hidden;
            li{
                list-style: none;
                display: inline-block;
                width: 20%;
                text-align: center;
                background: #6381a1;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    height: 40px;
                    width: 2px;
                    background: #ffffff;
                    right: 0;
                    top: 13px;
                }
                &:last-child::before{
                    display: none;
                }
                a{
                    display: block;
                    color: #ffffff;
                    padding: 12px;
                    text-decoration: none;
                }
                span{
                    display: block;
                }
                &.active a{
                    color: #38d05c;
                }
            }
        }
        .resume-top-menu-three{
            margin-bottom: 20px;
            overflow: hidden;
            border-bottom: 3px solid $primary-color;
            li{
                list-style: none;
                display: inline-block;
                width: 20%;
                text-align: center;
                position: relative;
                a{
                    display: block;
                    text-decoration: none;
                    padding: 19px 15px;
                    color: $text-color;
                    position: relative;
                    z-index: 9;
                    transition-delay: 1s;
                }
                &.active::before{
                    content: "";
                    position: absolute;
                    width: calc(100% + 30px);
                    left: 0;
                    top: 0;
                    border-top: 60px solid #554da0;
                    border-right: 30px solid transparent;
                    border-bottom: 0px solid transparent;
                    transition: .75s;
                    z-index: 2;
                    
                }
                &.animation::before{
                    animation: scroll-right .5s;
                    z-index: 1;
                }
                &.active a{
                    color: #ffffff
                }
            }

            @keyframes scroll-right {
                from{
                    width: 0;
                    border-right: 30px solid transparent;
                }
                to{
                    width: calc(100% + 30px);
                }
            }
        }
        .experiences{
            .experience-item{
                display: flex;
                .image{
                    width: 200px;
                    margin-right: 10px;
                    // border: 1px solid $border-color;
                }
                h4{
                    font-size: 20px;
                    line-height: 1;
                }
                .company-name{
                    color: #444444;
                    span{
                        font-size: 14px;
                    }
                }
                .period{
                    font-size: 14px;
                }
                .location{
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
        .photograph{
            text-align: center;
            img{
                border: 1px solid $border-color;
                padding: 4px;
                border-radius: 2px;
            }
        }
    }
    .view-resume{
        .title{
            font-size: 22px;
        }
        .profile{
            h2{
                font-size: 22px;
                line-height: 1;
                margin-bottom: 5px;
            }
            p{
                margin-bottom: 10px;
            }
            ul{
                li{
                    list-style: none;
                    line-height: 30px;
                    svg{
                        margin-right: 5px;
                        width: 20px;
                    }
                }
            }
            .image{
                float: right;
                max-width: 180px;
            }
        }
        .objective{
            margin-top: 30px;
        }
        .experiences{
            margin-top: 30px;
            .experience-item{
                h3{
                    font-size: 18px;
                    line-height: 1;
                    margin-bottom: 5px;
                }
                .company-name{
                    font-weight: 500;
                    color: #666666;
                    margin-bottom: 0px;
                }
                .period{
                    font-size: 14px;
                    margin-bottom: 5px;
                }
                .location{
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
        .education{
            margin-top: 30px;
            .education-item{
                h3{
                    font-size: 18px;
                    line-height: 1;
                }
                .institute-name{
                    font-weight: 500;
                    color: #444444;
                    margin-bottom: 0px;
                }
                .period{
                    font-size: 14px;
                    margin-bottom: 0px;
                }
                .result{
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                .location{
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
        .languages{
            ul{
                overflow: hidden;
            }
            li{
                list-style: none;
                float: left;
                margin-right: 100px;
                p{
                    margin-bottom: 0px;
                    font-weight: 500;
                    color: #444444;
                }
                span{
                    font-size: 13px;

                }
            }
        }
        .personal-information{
            ul{
                li{
                    list-style: none;
                    line-height: 30px;
                    strong{
                        display: inline-block;
                        width: 200px;
                        font-weight: 500;
                        color: #444444;
                    }
                    span{
                        font-weight: 500;
                        margin-right: 50px;
                    }
                }
            }
        }
    }
    .job-post{
        .job-type{
            text-align: center;
            margin: 0 auto 20px;
            max-width: 400px;
            li{
                list-style: none;
                display: inline-block;
                width: calc(50% - 10px);
                a{
                    cursor: pointer;
                    display: block;
                    padding: 8px 30px;
                    font-weight: 500;
                    border: 2px solid $primary-color;
                    color: $primary-color;
                    @include border-radius(3px);
                    text-align: center;
                }
                &:first-child{
                    margin-right: 20px;
                }
                &.active{
                    a{
                        background-color: $primary-color;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}