body{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: $text-color;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans', sans-serif;
	color: $heading-color;
}
h1{
	font-size: 36px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 26px;
}
h4{
	font-size: 22px;
}
h5{
	font-size: 20px;
}
h6{
	font-size: 18px;
}
p{
	font-size: 15px;
	color: $text-color;
	line-height: 24px;
}
ul, ol{
	margin: 0;
	padding: 0;
}
.table th, .table td{
	vertical-align: middle;
}
a{
	transition: .25s;
}
img{
	max-width: 100%;
}
button:focus{
	outline: none;
}
label{
	font-size: 16px;
	font-weight: 500;
	color: #666;
}
.box-container{
	max-width: 1340px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.sm-gutters {
	margin-right: -10px;
	margin-left: -10px;
  
	> .col,
	> [class*="col-"] {
	  padding-right: 10px;
	  padding-left: 10px;
	}
}
.section-padding{
	padding: 80px 0px;
}
.section-bg{
	background-color: $bg-color;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.form-control{
	height: 46px;
	font-size: 14px;
	border: 1px solid $border-color;
	border-radius: 3px;
	background-color: #fcfcfc;
	-webkit-appearance: none;
	&:focus{
		background-color: #fcfcfc;
		box-shadow: none;
		border-color: #333;
	}
}
.form-control.error{
	border-color: $red;
}
.react-select.error > div{
	border-color: $red!important;
}
.form-error{
	background: #ffdce0;
    border: 1px solid rgba(27, 31, 35, 0.15);
    color: #86181d;
    padding: 13px 15px;
    font-size: 12px;
    margin-bottom: 20px;
}
.error-message{
	font-size: 12px;
	color: $red;
}
.form-group.select{
	position: relative;
	&:before{
		content: "";
		height: 7px;
		width: 7px;
		border-right: 1px solid #333333;
		border-bottom: 1px solid #333333;
		top: 14px;
		right: 14px;
		position: absolute;
		@include transform(rotate(45deg));
	}
	&.label:before{
		top: 48px;
	}
}
.radio-input{
	p{
		font-size: 16px;
		font-weight: 500;
		color: #666666;
		margin-bottom: 10px;
	}
	label{
		font-weight: 400;
		margin-right: 10px;
	}
}
.react-datepicker-wrapper{
	width: 100%;
}
.react-tel-input .form-control{
	border-radius: 3px;
	height: 46px;
	width: 100%;
	background: #fcfcfc;
}
.rich-text{
	border: 1px solid $border-color;
	.richtext-icons{
		border-bottom: 2px solid $border-color;
		padding: 15px 20px;
		span{
			color: rgb(204, 204, 204);
			margin-right: 10px;
			cursor: pointer;
			&.active{
				color: $text-color;
			}
			svg{
				font-size: 20px;
			}
		}
	}
	.richtext-content{
		padding: 20px;
		min-height: 150px;
		background-color: #fcfcfc;
	}
	&.error{
		border-color: $red;
	}
}
.richtext-content{
	ul{
		padding-left: 16px;
	}
}
.btn{
	padding: 8px 30px;
}
.btn-default{
	background-color: $primary-color;
	border: 2px solid $primary-color;
	color: #fff;
	padding: 8px 15px;
	min-width: 120px;
	font-weight: 500;
	&:hover{
		color: $primary-color;
		background-color: transparent;
	}
	&:focus{
		box-shadow: none;
	}
}
.btn-green{
	background-color: $green;
	border: 2px solid $green;
	color: #fff;
	padding: 8px 15px;
	min-width: 120px;
	font-weight: 500;
	&:hover{
		background-color: #2a713b;
		border-color: #2a713b;
		color: #fff;
	}
	&:focus{
		box-shadow: none;
	}
}
.btn-black{
	background-color: #333;
	border: 2px solid #333;
	color: #fff;
	padding: 8px 15px;
	min-width: 120px;
	font-weight: 500;
	&:hover{
		background-color: #ffffff;
		color: #333333;
	}
	&:focus{
		box-shadow: none;
	}
}
.icon-design{
	width: 70px;
	height: 70px;
	padding: 14px;
	background: rgba(40, 167, 69, .1);
	color: $green;
	text-align: center;
	border-radius: 5px;
	line-height: 3.7;
	@include transition(.25s);
	i:before{
		font-size: 30px;
	    line-height: 1.1;
	}
}
.section-title{
    text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
	span{
		color: $green;
	}
}
.page-header{
	height: 350px;
	background: url('/images/home-banner.jpg');
	background-size: cover;
	background-position: center top;
	.overlay{
		background: rgba(0, 0, 0, 0.7);
		height: 100%;
		padding: 100px 0px;
	}
	h3{
		color: #ffffff;
		text-transform: uppercase;
	} 
	p{
		color: #ffffff;
	}
	.btn{
		width: 100%;
	}
}
.pagination{
	ul{
		text-align: center;
		li{
			list-style: none;
			display: inline-block;
			margin-right: 5px;
			a{
				display: inline-block;
				color: $text-color;
				padding: 8px 15px;
				border: 1px solid $border-color;
				border-radius: 3px;
				text-decoration: none;
				&:hover{
					background-color: $primary-color;
					border-color: $primary-color;
					color: #ffffff;
				}
			}
			&.active a{
				background-color: $primary-color;
				border-color: $primary-color;
				color: #ffffff;
			}
		}
	}
}

ul.social-icons{
	li{
		list-style: none;
		display: inline-block;
		margin-right: 5px;
		&:last-child{
			margin-right: 0px;
		}
		a{
			display: inline-block;
			text-align: center;
			background-color: $primary-color;
			color: #fff;
			font-size: 14px;
			height: 30px;
			width: 30px;
			line-height: 2.3;
			border-radius: 100%;
		}
		&.facebook a{
			background-color: $facebook;
		}
		&.google a{
			background-color: $google;
		}
		&.linkedin a{
			background-color: $linkedin;
		}
		&.twitter a{
			background-color: $twitter;
		}
		&.pinterest a{
			background-color: $pinterest;
		}
	}
}

.transition-3{
	@include transition(3s);
}
.transition-delay-2{
	transition-delay: .2s;
}

.slide-up {
	transition: .5s;
	animation-name: slideUp;
	animation-duration: 1s;
}

.slide-down {
	transition: .5s;
	animation-name: slideDown;
	animation-duration: 1s;
}

.fade-out {
	transition: .5s;
	animation-name: fadeOut;
	animation-duration: 1s;
}

.fade-in {
	transition: .5s;
	animation-name: fadeIn;
	animation-duration: 1s;
}

@keyframes slideUp {
	0%   {
		opacity: 0;
		transform: translateY(50px);
	}
	25%  {
		opacity: 0;
		transform: translateY(35px);
	}
	50%  {
		opacity: 0;
		transform: translateY(22px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
	
}

@keyframes slideDown {
	0%   {
		opacity: 0;
		transform: translateY(-50px);
	}
	25%  {
		opacity: 0;
		transform: translateY(-35px);
	}
	50%  {
		opacity: 0;
		transform: translateY(-22px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
	
}

@keyframes fadeOut {
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}

@keyframes fadeIn {
	0%   {
		opacity: 0;
	}
	25%  {
		opacity: 0;
	}
	50%  {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}