.home-banner{
	height: 400px;
	background: url('/home-banner.jpg');
	background-position: center top;
	.banner-content{
		color: #fff;
		background-color: rgba(0, 0, 0, 0.5);
		height: 100%;
		display: flex;
		align-items: center;
		h1{
			font-size: 24px;
			margin-bottom: 12px;
		}
	}
	form{
		position: relative;
		height: 126px;
		transition: .5s;
		.form-control{
			border: none;
		}
		.advance-button{
			float: right;
			color: #fff;
			cursor: pointer;
			font-size: 12px;
			transition: .25s;
		}
		.search-button{
			text-align: right;
			transition: .35s;
		}
		.advance-search{
			position: absolute;
			width: 100%;
			top: 20%;
			visibility: hidden;
			transition: .35s;
			transition-delay: .35s;
		}
		&.advance{
			height: 180px;
			.advance-button{
				visibility: hidden;
			}
			.advance-search{
				visibility: visible;
				top: 34%;
			}
			.search-button{
				margin-top: 42px;
			}
		}
	}
	
}
.find-talents{
	h1{
		text-align: center;
		margin-bottom: 50px;
	}
	.talent-item{
		margin-bottom: 40px;
		img{
			margin-bottom: 16px;
		}
		h3{
			margin-bottom: 5px;
		}
		p{
			margin-bottom: 10px;
		}
		a{
			color: $green;
			font-weight: 500;
			text-decoration: underline;
		}
	}
}
.cv-collection{
	background-color: $green;
	color: #fff;
	h1{
		text-transform: capitalize;
	}
	p{
		color: #fff;
	}
	.persons{
		position: relative;
		.person-item{
			position: absolute;
			max-width: 200px;
			overflow: hidden;
			border: 4px solid $primary-color;
			border-radius: 100%;
			&.two{
				left: 150px;
				max-width: 150px;
			}
			&.three{
				max-width: 120px;
				left: 130px;
				top: 130px;
			}
		}
	}
}