.home-banner {
	height: 500px;
	background: url("/images/bg-shape-3.jpg");
	background-position: center bottom;
	background-size: cover;
	.banner-content {
		color: #fff;
		background: linear-gradient(to left, rgba(85, 77, 160, 0.9), rgba(40, 167, 69, 0.9));
		// background: rgba(0, 0, 0, .6);
		height: 100%;
		display: flex;
		align-items: center;
		h1 {
			font-size: 30px;
			line-height: 1.2;
			margin-bottom: 0px;
			color: #ffffff;
		}
		h2 {
			font-size: 46px;
			color: #ffffff;
			text-transform: capitalize;
			margin-bottom: 0px;
			span {
				color: $primary-color;
			}
		}
		.banner-form {
			position: relative;
			height: 126px;
			.form-group {
				position: relative;
				max-width: 600px;
				margin-bottom: 20px;
				button {
					position: absolute;
					right: 6px;
					top: 6px;
					outline: none;
					background: $green;
					color: #fff;
					border-radius: 0px 30px 30px 0px;
					height: 47px;
					width: 90px;
					text-align: center;
					border: none;
					i:before {
						font-weight: 700;
					}
				}
				.form-control {
					padding: 12px 50px 12px 20px;
					height: auto;
					border: 7px solid rgba(0, 0, 0, 0.2);
					border-radius: 30px;
				}
			}
		}
		.are-you {
			margin-bottom: 0px;
			font-weight: 700;
			font-size: 18px;
			a {
				color: #ffffff;
				text-decoration: underline;
			}
		}
		.banner-box {
			background: rgba(255, 255, 255, 0.4);
			border-radius: 5px;
			padding: 40px 30px;
			position: absolute;
			right: 0;
			bottom: 25%;
			width: 300px;
			text-align: center;
			visibility: visible;
			opacity: 1;
			transition: 0.4s ease-in-out;
			.btn-default {
				min-width: 250px;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 18px;
				font-weight: 700;
			}
			ul {
				margin-top: 20px;
				li {
					list-style: none;
					display: inline-block;
					font-size: 18px;
					&:first-child {
						margin-right: 60px;
					}
					a {
						color: #ffffff;
						text-decoration: none;
						&:hover {
							color: $primary-color;
						}
						i:before {
							font-size: 20px;
						}
					}
				}
			}
		}
		.form-group.select:before {
			top: 22px;
			right: 24px;
		}
		.advance-button {
			position: absolute;
			right: 0;
			color: #fff;
			cursor: pointer;
			font-size: 16px;
			transition: 0.25s;
			margin-top: 20px;
			margin-right: 24px;
		}
		.main-button {
			position: absolute;
			right: 0;
			bottom: 0px;
			transition: 0.5s;
			animation-name: slideDown;
			animation-duration: 1s;
			border-radius: 30px;
			min-width: 160px;
			padding: 0;
			text-transform: uppercase;
			border: 7px solid rgba(0, 0, 0, 0.2);
			background: transparent;
			overflow: hidden;
			span {
				background: $green;
				padding: 10px;
				display: inline-block;
				width: 100%;
			}
		}
		.close-advance {
			background: transparent;
			border: none;
			color: #ffffff;
			padding: 0px;
			outline: none;
			position: absolute;
			right: 0;
			top: -50px;
			transition: 0.4s;
			transition-delay: 0.3s;
			animation-name: fadeIn;
			animation-duration: 1s;
			i:before {
				font-size: 30px;
			}
		}
		&.advance {
			.banner-box {
				visibility: hidden;
				opacity: 0;
			}
			.close-advance {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

.promotions {
	margin-top: 20px;
	.promotion-item {
		border: 1px solid $border-color;
		text-align: center;
		a {
			display: block;
			padding: 20px;
		}
	}
}

.build-team {
	h2 {
		font-size: 32px;
		text-transform: uppercase;
		margin-bottom: 0px;
		margin-top: 50px;
	}
	.title-text {
		margin-bottom: 80px;
	}
	.expertise {
		margin-bottom: 80px;
		h3 {
			font-weight: 400;
		}
		.icon-design {
			height: 60px;
			width: 60px;
			line-height: 2;
			margin-bottom: 30px;
		}
	}
	.team-members {
		.member {
			position: absolute;
			width: 240px;
			background: #ffffff;
			@include box-shadow(0 4px 8px 0 rgba(0, 0, 0, 0.08));
			z-index: 1;
			&:hover {
				z-index: 9;
			}
			&:nth-child(1) {
				right: 260px;
				top: 200px;
			}
			&:nth-child(2) {
				right: 40px;
				top: 0;
			}
			&:nth-child(3) {
				right: 0;
				top: 400px;
			}
			.content {
				padding: 20px;
				h4 {
					font-weight: 700;
					font-size: 18px;
					line-height: 1;
					margin-bottom: 5px;
					a {
						color: $primary-color;
						text-decoration: none;
					}
				}
				p {
					margin-bottom: 0px;
					line-height: 1;
					font-size: 14px;
				}
				span {
					display: block;
					margin-top: 10px;
					margin-bottom: 5px;
					font-size: 13px;
				}
				.company-logo {
					max-width: 120px;
				}
			}
		}
	}
}

.hot-jobs {
	.section-title {
		margin-bottom: 30px;
	}
	.job-item {
		background-color: #ffffff;
		padding: 16px;
		border-radius: 2px;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
		@include transition(0.35s);
		position: relative;
		margin-bottom: 20px;
		.image {
			display: inline-block;
			background-color: #ffffff;
			border: 1px solid $border-color;
			border-radius: 3px;
			margin-bottom: 10px;
			padding: 5px;
		}
		.content {
			h4 {
				font-size: 20px;
				line-height: 1;
				margin-bottom: 10px;
				a {
					color: $heading-color;
					text-decoration: none;
					// &:hover{
					// 	color: $green;
					// }
				}
			}
			ul {
				margin-bottom: 20px;
				li {
					list-style: none;
					font-size: 14px;
					line-height: 24px;
					svg {
						font-size: 13px;
					}
					a {
						color: $text-color-light;
						text-decoration: none;
						// &:hover{
						// 	color: $text-color;
						// }
					}
				}
			}
			.time {
				font-size: 13px;
			}
		}
		.more-jobs-icon {
			position: absolute;
			top: 10px;
			right: 10px;
			background: transparent;
			border: none;
			outline: none;
			color: $text-color;
		}
		.more-jobs {
			position: absolute;
			top: 17px;
			right: 16px;
			background: #fff;
			padding: 20px 16px;
			box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
			border-radius: 2px;
			li {
				list-style: none;
				line-height: 26px;
				a {
					color: #333333;
					text-decoration: none;
					font-weight: 500;
					font-size: 14px;
				}
			}
		}
		&:hover {
			box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15), 0 3px 3px rgba(0, 0, 0, 0.2);
		}
	}
}

.top-categories {
	.cat-item {
		background-color: #ffffff;
		padding: 40px 20px;
		text-align: center;
		border-radius: 5px;
		@include box-shadow(0px 1px 2px 0px rgba(0, 0, 0, 0.2));
		@include transition(0.35s);
		margin-bottom: 30px;
		h2 {
			font-weight: 400;
		}
		a {
			color: $primary-color;
			font-weight: 700;
		}
		&:hover {
			background-color: $primary-color;
			h2,
			a {
				color: #ffffff;
			}
		}
	}
}

.find-talents {
	.talent-item {
		margin-bottom: 40px;
		padding: 30px;
		border-radius: 4px;
		@include box-shadow(1px 2px 4px 2px rgba(0, 0, 0, 0.07));
		@include transition(0.25s);
		.icon-design {
			margin-bottom: 16px;
		}
		h3 {
			margin-bottom: 5px;
		}
		p {
			margin-bottom: 10px;
			@include transition(0.25s);
		}
		a {
			color: $green;
			font-weight: 500;
			text-decoration: underline;
			svg {
				@include transition(0.25s);
			}
			&:hover {
				svg {
					margin-left: 10px;
				}
			}
		}
		&:hover {
			background-color: $green;
			color: #fff;
			.icon-design {
				color: #fff;
				background-color: #2a713b;
			}
			h3,
			p,
			a {
				color: #fff;
			}
		}
	}
}
.work-process {
	.process-item {
		text-align: center;
		.icon-design {
			margin: 0 auto 10px;
			background-color: rgba($color: $primary-color, $alpha: 0.1);
			color: $primary-color;
		}
		h3 {
			font-weight: 400;
		}
	}
}

.why-employment {
	.why-item {
		display: flex;
		padding: 20px;
		position: relative;
		.image {
			width: 60px;
			height: 60px;
			overflow: hidden;
			padding: 10px;
			margin-right: 16px;
			img {
				max-width: 100%;
			}
		}
		h3 {
			font-size: 26px;
			line-height: 1.2;
			color: $green;
			margin: 0px;
		}
		p {
			color: #333333;
			margin-bottom: 0px;
		}
	}
}

.testimonial {
	.swiper-slide {
		padding: 10px;
	}
	.swiper-container {
		padding-bottom: 50px;
		.swiper-pagination {
			.swiper-pagination-bullet {
				height: 12px;
				width: 12px;
				&:focus {
					border: none;
				}
			}
			.swiper-pagination-bullet-active {
				background-color: $primary-color;
			}
		}
	}
	.testimonial-item {
		background-color: #ffffff;
		@include box-shadow(0px 1px 3px 0px rgba(0, 0, 0, 0.2));
		border-radius: 5px;
		padding: 30px;
		position: relative;
		.image {
			height: 100px;
			width: 100px;
			overflow: hidden;
			margin-bottom: 10px;
			img {
				width: 100%;
			}
		}
		.video-icon {
			position: absolute;
			top: 40px;
			right: 40px;
			font-size: 36px;
			text-align: center;
			a {
				display: inline-block;
				width: 50px;
				height: 50px;
				border-radius: 5px;
				background-color: $primary-color;
				color: #ffffff;
				font-size: 30px;
				line-height: 1.7;
				position: relative;
				svg {
					margin-left: 5px;
				}
				&::before,
				&::after {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					z-index: -1;
					bottom: 0;
					left: 0;
					border-radius: 5px;
					border: 1px solid $primary-color;
					-webkit-transition: 0.5s;
					transition: 0.5s;
					-webkit-animation: ripple 2s linear infinite;
					animation: ripple 2s linear infinite;
					z-index: 9;
				}
				&::after {
					-webkit-animation: ripple 2s linear 1s infinite;
					animation: ripple 2s linear 1s infinite;
				}
			}
		}
		h3 {
			margin-bottom: 20px;
			span {
				font-size: 16px;
				color: $text-color-light;
				display: block;
			}
		}
		p {
			margin-bottom: 0px;
		}
	}
}

.video-testimonial {
	.swiper-container {
		padding-bottom: 50px;
		.swiper-pagination {
			.swiper-pagination-bullet {
				height: 12px;
				width: 12px;
				&:focus {
					border: none;
				}
			}
			.swiper-pagination-bullet-active {
				background-color: $primary-color;
			}
		}
	}
}

.courses {
	.course-item {
		text-align: center;
		box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
		padding: 20px;
		border-radius: 5px;
		.image {
			max-width: 100px;
			margin: 0 auto 10px;
		}
		.title {
			font-size: 24px;
			line-height: 30px;
			a {
				text-decoration: none;
				color: $heading-color;
			}
		}
		ul {
			display: flex;
			justify-content: space-between;
			li {
				list-style: none;
				color: $text-color-light;
				color: $primary-color;
			}
		}
	}
}

.top-companies {
	.company {
		padding: 40px;
		border-right: 1px solid $border-color;
		text-align: center;
		a {
			display: block;
		}
		@include breakpoint(mobile) {
			padding: 20px;
		}
		@include breakpoint(sm-mobile) {
			border-right: none;
			border-bottom: 1px solid $border-color;
		}
	}
	.row > [class*="col-"]:nth-child(-n + 4) {
		.company {
			border-bottom: 1px solid $border-color;
		}
	}
	.row > [class*="col-"]:nth-child(4) {
		.company {
			border-right: none;
		}
	}
	.row > [class*="col-"]:last-child {
		.company {
			border-right: none;
		}
	}
}

.video {
	text-align: center;
	padding: 50px 0px;
	margin-top: 50px;
	a {
		display: inline-block;
		width: 80px;
		height: 80px;
		border-radius: 5px;
		background-color: $primary-color;
		color: #ffffff;
		font-size: 30px;
		line-height: 2.7;
		position: relative;
		svg {
			margin-left: 5px;
		}
		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			z-index: -1;
			bottom: 0;
			left: 0;
			border-radius: 5px;
			border: 1px solid $primary-color;
			-webkit-transition: 0.5s;
			transition: 0.5s;
			-webkit-animation: ripple 2s linear infinite;
			animation: ripple 2s linear infinite;
		}
		&::after {
			-webkit-animation: ripple 2s linear 1s infinite;
			animation: ripple 2s linear 1s infinite;
		}
	}
}

@-webkit-keyframes ripple {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	75% {
		-webkit-transform: scale(1.75);
		transform: scale(1.75);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0;
	}
}

@keyframes ripple {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	75% {
		-webkit-transform: scale(1.75);
		transform: scale(1.75);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0;
	}
}

.subscribe {
	background-color: #6381a1;
	padding: 60px 0px;
	.content {
		h3 {
			text-transform: uppercase;
			color: #ffffff;
			margin-bottom: 0px;
			margin-top: 3px;
			@include breakpoint(mini-mobile) {
				font-size: 22px;
			}
		}
		p {
			color: #dddddd;
			margin-bottom: 0px;
		}
		.icon {
			float: left;
			color: #fff;
			font-size: 40px;
			margin-right: 20px;
			margin-top: 10px;
			@include breakpoint(mini-mobile) {
				margin-right: 10px;
			}
		}
		@include breakpoint(desktop) {
			max-width: 330px;
			margin: 0 auto 30px;
		}
	}

	form {
		@include breakpoint(desktop) {
			max-width: 600px;
			margin: auto;
			@include breakpoint(sm-mobile) {
				text-align: center;
			}
		}
		input {
			width: calc(100% - 180px);
			border: 1px solid #dddddd;
			padding: 14px 20px;
			background-color: transparent;
			color: #dddddd;
			outline: none;
			margin-right: 20px;
			@include breakpoint(sm-mobile) {
				width: 100%;
				margin-bottom: 10px;
			}
		}
		button {
			background: #ffffff;
			color: #333333;
			border: 1px solid #ffffff;
			padding: 14px;
			min-width: 160px;
			text-align: center;
			border-radius: 3px;
			text-transform: uppercase;
			outline: none;
			&:hover {
				// background: #6381a1;
				// color: #ffffff;
			}
		}
		::-webkit-input-placeholder {
			color: #dddddd;
		}
		:-ms-input-placeholder {
			color: #dddddd;
		}
		::placeholder {
			color: #dddddd;
		}
	}
}
