.sidebar{
    .sidebar-item{
        background-color: #ffffff;
        border-radius: 3px;
        margin-bottom: 20px;
        .title{
            // text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 16px;
            padding-bottom: 8px;
            border-bottom: 2px solid $border-color;
        }
        ul{
            li{
                list-style: none;
                line-height: 30px;
                position: relative;
                &::before{
                    content: "";
                    display: inline-block;
                    height: 12px;
                    width: 12px;
                    border: 1px solid $border-color;
                    margin-right: 8px;
                }
                span{
                    display: none;
                    font-size: 12px;
                    float: right;
                }
            }
        }
    }
}

.job-list-page{
    .page-header{
        .form-group{
            position: relative;
        }
        .form-control:focus{
            border-color: #ffffff;
        }
        .search-button{
            position: absolute;
            right: 20px;
            top: 5px;
            background: transparent;
            color: $primary-color;
            border: none;
            font-size: 24px;
            outline: none;
            // padding: 5px 40px;
            // border-radius: 0px 3px 3px 0px;
        }
    }
    .job-filter{
        margin-bottom: 10px;
        p{
            font-size: 14px;
            margin-bottom: 0px;
        }
        .form-group{
            margin-bottom: 0px;
            text-align: right;
            font-size: 14px;
            span{
                margin-right: 10px;
            }
            select{
                border-color: $border-color;
                @include border-radius(3px);
                color: $text-color;
                padding: 3px 5px;
                outline: none;
                width: 120px;
            }
        }
    }
}


.job-list{
	.job-item{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		background-color: #fff;
		padding: 16px;
		border-radius: 3px;
        margin-bottom: 20px;
        border: 1px solid $border-color;
        @include transition(.3s);
        position: relative;
        &:hover{
            @include box-shadow(0px 2px 3px 0px rgba(0, 0, 0, 0.1));
        }
		.logo{
			max-width: 90px;
			border: 1px solid $border-color;
			padding: 10px;
			margin-right: 20px;
		}
		.content{
			flex-grow: 1;
			h3{
				font-size: 20px;
				line-height: 1;
				margin-bottom: 5px;
				a{
					color: #333333;
					text-decoration: none;
				}
			}
			ul{
				li{
                    list-style: none;
                    font-size: 14px;
                    color: $text-color-light;
                    line-height: 26px;
                    &:first-child{
                        margin-bottom: 5px;
                    }
					svg{
						font-size: 13px;
						width: 20px;
					}
					a{
						color: $primary-color;
						text-decoration: none;
						font-weight: 600;
					}
				}
			}
		}
		.deadline{
			position: absolute;
			right: 20px;
			bottom: 14px;
			font-weight: 500;
			p{
				margin-bottom: 0px;
				color: $green;
			}
		}
	}
}

.job-details-page{
    .detail-top{
        display: flex;
        padding: 40px 0px 20px;
        border-bottom: 1px solid $border-color;
        position: relative;
        .image{
            width: 120px;
            height: 120px;
            border: 1px solid $border-color;
            padding: 10px;
            margin-right: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
        }
        .content{
            h3{
                line-height: 1;
                margin-bottom: 20px;
                letter-spacing: 1px;
            }
            p{
                font-size: 14px;
                margin-bottom: 5px;
                font-weight: 500;
            }
            ul.top-points{
                margin-bottom: 20px;
                li{
                    display: inline-block;
                    list-style: none;
                    margin-right: 20px;
                    color: $primary-color;
                }
            }
            .deadline{
                color: $green;
                margin-bottom: 0px;
                font-weight: 500;
            }
        }
        .btn-default{
            min-width: 160px;
            border-radius: 25px;
        }
        .social-share {
            text-align: center;
            margin-top: 20px;
        }
    }
    .job-details{
        .detail-body{
            margin-top: 30px;
            border: 1px solid $border-color;
            padding: 20px;
            h4{
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 22px;
            }
            ul{
                margin-bottom: 20px;
                li{
                    margin-left: 20px;
                    line-height: 26px;
                }
            }
        }
        .apply-bottom{
            text-align: center;
            margin-top: 50px;
            margin-bottom: 30px;
            .btn{
                min-width: 160px;
                margin-bottom: 10px;
            }
            p{
                margin: 0px;
                padding: 0px;
                line-height: 26px;
                strong{
                    color: $green;
                }
            }
        }
    }
    .company-information{
        margin-top: 30px;
        border: 1px solid $border-color;
        padding: 20px;
        h4{
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 22px;
        }
        p{
            margin-bottom: 10px;
        }
        ul{
            li{
                list-style: none;
                line-height: 26px;
                a{
                    color: $green;
                }
            }
        }
    }
    .job-overview{
        border: 1px solid $border-color;
        margin-top: 30px;
        padding: 20px;
        h4{
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        ul{
            li{
                display: flex;
                align-items: center;
                list-style: none;
                line-height: 26px;
                margin-bottom: 20px;
                .icon{
                    margin-right: 16px;
                    color: $primary-color;
                    font-weight: 700;
                    i:before{
                        font-size: 26px;
                    }
                }
                p{
                    margin-bottom: 0px;
                    font-size: 14px;
                }
                strong{
                    font-size: 15px;
                    display: block;
                    font-weight: 500;
                    margin-right: 5px;
                }
            }
        }
    }
    
}