$primary-color: #554da0;
$secondary-color: #6dbe45;
$text-color: #202020;
$text-color-light: #666666;
$heading-color: #424242;
$border-color: #e4e4e4;
$border-color-light: #f2f2f2;
$bg-color: rgb(246, 246, 247);
$red: #ce3535;