$primary-color: #554da0;
$secondary-color: #6dbe45;
$text-color: #797979;
$text-color-light: #888888;
$heading-color: #424242;
$border-color: #e4e4e4;
$border-color-light: #f2f2f2;
$bg-color: #f4f4f4;
$red: #ce3535;
$facebook: #3b5998;
$google: #db3236;
$linkedin: #0e76a8;
$twitter: #00acee;
$pinterest: #c8232c;